#group-1 {width : 740px;margin-right : 0px;}
#group-2 {width : 740px;margin-right : 0px;}
#header {width : 740px;margin-right : 0px;}
#group-3 {width : 490px;margin-right : 10px;}
#content {width : 490px;margin-right : 0px;}
#sidebar-2 {width : 240px;margin-right : 10px;}
#sidebar-3 {width : 240px;margin-right : 0px;}
#group-4 {width : 240px;margin-right : 0px;}
#group-5 {width : 240px;margin-right : 0px;}
#sidebar-1 {width : 240px;margin-right : 0px;}
#group-6 {width : 240px;margin-right : 0px;}
#sidebar-5 {width : 240px;margin-right : 0px;}
#sidebar-4 {width : 240px;margin-right : 0px;}
#footer {width : 740px;margin-right : 0px;}
